<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= TitlePage %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/Navigation.ejs')  %>
    <main>
        <% if (  ErrorMessage ) {  %>

        <div class="user-message user-message--error"> <%= ErrorMessage %> </div>

        <% } %>

        <!--  Muốn Upload Fle Thì Phải Cài thêm  enctype ="multipart/form-data" Cho Form để nó nhận diện được Upload File -->
        <form class="product-form" action="/admin/<% if (Editing) { %>edit-product<% } else { %>add-product<% } %>"
            method="POST" enctype ="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input  class=" <%=  ValidationError.find(e =>  e.param === 'title' ) ? 'invalid' : ''%>"  type="text" name="title" id="title"
                value="<% if (Editing) { %><%= product.Title %><% } else { %> <%=OldInput.title %> <% } %>">
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input
                 class=" <%=  ValidationError.find(e =>  e.param === 'image' ) ? 'invalid' : ''%>"                 
                 type="file"
                 name="image"
                 id="image"                  
                >
            </div>
            <div class="form-control">
                <label for="Price">Price</label>
                <input  class=" <%=  ValidationError.find(e =>  e.param === 'Price' ) ? 'invalid' : ''%>"  type="number" name="Price" id="Price" step="0.01"
                value="<% if (Editing) { %><%= product.Price %><% } else { %> <%=OldInput.Price%> <% } %>">
            </div>
            <div class="form-control">
                <label for="Description">Description</label>
                <textarea  class=" <%=  ValidationError.find(e =>  e.param === 'Description' ) ? 'invalid' : ''%>"  name="Description" id="Description"
                    rows="5"><% if (Editing) { %><%= product.Description %><% } else { %> <%=OldInput.Description %> <% } %>  </textarea>
            </div>
            <% if (Editing) { %>
            <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (Editing) { %>Update Product<% } else { %>Add
                Product<% } %></button>
        </form>
    </main>

    <%- include('../includes/End.ejs') %>